WIPE_SIGNATURES=true
STORAGE_DRIVER=overlay2
{%if container_disk is defined%}
DEVS=/dev/{{container_disk}}
{%endif%}
CONTAINER_ROOT_LV_NAME=dockerlv
CONTAINER_ROOT_LV_SIZE=100%FREE
CONTAINER_ROOT_LV_MOUNT_PATH=/var/lib/docker
VG={{docker_vg}}
